# General
.DS_Store
.AppleDouble
.LSOverride

# Squirrel(rime)
Library/Rime/build/
Library/Rime/*.userdb/
Library/Rime/user.yaml
Library/Rime/installation.yaml

.config/nvim/plugin/packer_compiled.lua
.config/kitty/kitty.conf.bak
